.container
  .job-post
    %h5 Job Title 
    %h5 Company 
    
    %h5 Job Description 
    %p Here is the job description you want to see. It may get pretty long
    but you just keep typing it here. It wil be fairly long by the end of the day. 
    Probably longer than this but you just keep going and going if you must. 
    
      
    %h5 Job Requirements 
    %p Here is the job description you want to see. It may get pretty long
    but you just keep typing it here. It wil be fairly long by the end of the day. 
    Probably longer than this but you just keep going and going if you mus
  
    %h5 Salary
    %p $100,000
    
    = link_to 'Apply', nil, class: 'btn btn-primary' 